:root {
    --orange-color: #FF9900;
    --grey-color: #282828;
    --overlay-grey-color: hsla(0, 0%, 6.7%, 0.8);

    --animation-time: 0.2s;

    --app-width: 976px;
    --container-padding: 15px;
    --header-height: 48px;
    --bottom-menu-height: 48px;
}