.Header {
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    max-width: var(--app-width);
    background-color: var(--grey-color);
    z-index: 2;

    &__content {
        display: grid;
        grid-template-columns: max-content max-content;
        align-items: center;
        align-self: center;
        justify-content: space-between;
        height: 100%;
    }

    &__search {
        display: grid;
    }
}